Flask
flask-cors
Flask-SocketIO
gunicorn
eventlet
python-dotenv
requests
pandas
numpy
scikit-learn
opencv-python
Pillow
tensorflow
matplotlib
joblib
groq
python-engineio
python-socketio
bidict
simple-websocket
Werkzeug

